@use 'vuetify/settings' with (
  $font-size-root: 18px,
  $typography: (
    'body-1': (
      'size': 18px,
      'weight': 400,
      'line-height': 1.5,
      'letter-spacing': 0.15px,
      'font-family': inherit,
    ),
  )
);
body {
  border: 1px solid red;
}
body .text-body-1.text-body-1 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  font-family: inherit;
}